{% extends 'AboutCSharpDeveloper/base.html' %}
{% load static %}

{% block content %}
    <div id="carouselExampleControls" class="carousel slide my_slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'AboutCSharpDeveloper/img/programmer1.jpg' %}" class="d-block w-100" alt="C#">
            </div>
            <div class="carousel-item">
                <img src="{% static 'AboutCSharpDeveloper/img/programmer2.jpg' %}" class="d-block w-100" alt="C#">
            </div>
            <div class="carousel-item">
                <img src="{% static 'AboutCSharpDeveloper/img/programmer3.jpg' %}" class="d-block w-100" alt="C#">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
    <h2 id="kto-takoy-c-razrabotchik">Кто такой C#-разработчик?</h2>
    <p><span style="font-size: 14pt;">C#-разработчик — это специалист, который отвечает за написание кода на языке программирования C#, разработчик создаёт приложения для настольных компьютеров и веб-приложения. Язык программирования C# также активно используется в игровом движке Unity.</span>
    </p>

    <h2 id="chto-delayut-c-razrabotchiki-i-chem-zanimayutsya">Что
        делают C# разработчики и чем занимаются?</h2>
    <p><span style="font-size: 14pt;">Обязанности на примере одной из вакансий:</span>
    </p>
    <ul>
        <li><span style="font-size: 14pt;">Создавать новые инструменты и роботов для автоматизации бухгалтерского и юридического обслуживания.</span>
        </li>
        <li><span style="font-size: 14pt;">Придумывать и обсуждать новые фичи и механики взаимодействия отделов.</span>
        </li>
        <li><span style="font-size: 14pt;">Участвовать в планировании итераций, давать и получать обратную связь по итерации.</span>
        </li>
        <li><span style="font-size: 14pt;">Программировать в одиночку и в паре; ревьюить и получать code review, покрывать код тестами.</span>
        </li>
        <li><span
                style="font-size: 14pt;">Проектирование и разработка различных компонентов и сервисов платформы.</span>
        </li>
    </ul>
    <h2 id="chto-dolzhen-znat-i-umet-c-razrabotchik">Что должен
        знать и уметь C# разработчик?&nbsp;</h2>
    <p><span style="font-size: 14pt;"><strong>Требования к </strong><strong>C</strong><strong># разработчикам:</strong></span>
    </p>
    <ul>
        <li><span style="font-size: 14pt;">Знание C#, .NET, среды Visual Studio</span>
        </li>
        <li><span style="font-size: 14pt;">NET и EntityFramework Code First</span>
        </li>
        <li><span style="font-size: 14pt;">Понимание принципов работы сетевых протоколов</span>
        </li>
        <li><span style="font-size: 14pt;">Администрирование и деплой пилотных работ</span>
        </li>
        <li><span
                style="font-size: 14pt;">Работа с XML и JSON</span>
        </li>
        <li><span style="font-size: 14pt;">HTML, CSS и JavaScript для создания сайтов</span>
        </li>
        <li><span style="font-size: 14pt;">Привычка писать комментируемый и строго форматированный код</span>
        </li>
        <li><span
                style="font-size: 14pt;">Понимание принципов ООП</span>
        </li>
        <li><span style="font-size: 14pt;">Владение системой контроля версий Git</span>
        </li>
        <li><span style="font-size: 14pt;">Работа с WPF для разработки пользовательских интерфейсов баз данных</span>
        </li>
    </ul>
    <h2>Как стать C#-разработчиком и где учиться?</h2>
    <p><span style="font-size: 14pt;">Варианты обучения для C#-разработчика с нуля:</span>
    </p>
    <ul>
        <li><span style="font-size: 14pt;"><strong>Самостоятельное обучение</strong> – всевозможные видео на YouTube, книги, форумы, самоучители и т.д. Плюсы – дешево или очень недорого. Минусы – нет системности, самостоятельное обучение может оказаться неэффективным, полученные навыки могут оказаться невостребованными у работодателя;</span>
        </li>
        <li><span style="font-size: 14pt;"><strong>Классическое оффлайн-образование</strong> в ВУЗах, колледжах и университетах. Диплом является преимуществом при устройстве на работу, при этом обучение обычно длится не менее четырех лет, часто дают устаревшие неактуальные знания;</span>
        </li>
        <li><span style="font-size: 14pt;"><strong>Онлайн-обучение.&nbsp;</strong>Пройти курс можно на одной из образовательных платформ. Такие курсы рассчитаны на людей без особой подготовки, поэтому подойдут большинству людей. Обычно упор в онлайн-обучении делается на практику – это позволяет быстро пополнить портфолио и устроиться на работу сразу после обучения.</span>
        </li>
    </ul>
    <h2 style="font-size: 14pt">Должностные обязанности C#-разработчика</h2>
    <ul>
        <li style="font-size: 14pt">Поиск работоспособных решений.</li>
        <li style="font-size: 14pt">Тестирование программного обеспечения.</li>
        <li style="font-size: 14pt">Устранение багов, выявленных на этапе тестирования, и отладка ПО.</li>
        <li style="font-size: 14pt">Исправление багов других программистов.</li>
        <li style="font-size: 14pt">Внедрение разработанных программ.</li>
        <li style="font-size: 14pt">Сопровождение – техподдержка, разработка документации, инструкций, а также обучение
            сотрудников клиента работе с программой.
        </li>
    </ul>
    <p style="font-size: 14pt">Центральное место в работе занимает практика, которую наиболее просто получить, обучаясь
        в профильном высшем учебном заведении. Можно устроиться и на удаленную работу, где
        начать с написания простых программ для частных заказчиков, а также поработать на
        позиции младшего программиста в студии по разработке ПО плюс создавать программы «для
        себя».</p>
    <p style="font-size: 14pt">Очень важно, чтобы&nbsp;C#-разработчик трезво оценивал свои возможности при поиске
        работы, чтобы она коррелировала с его стажем и опытом. Естественно, что начинающего
        разработчика на «си шарпе» просто не допустят на ведущие роли в крупный и сложный
        проект.</p>
{% endblock %}