{% extends 'AboutCSharpDeveloper/base.html' %}

{% block content %}
    {{ form.date.errors }}
    <div class="card card-body form_container">
        <form class="form" action="{% url 'recent_vacancies' %}" method="post">
            {% csrf_token %}
            <label class="form_label me-3" for="{{ form.date.id_for_label }}">
                Укажите пожалуйста дату не позже 30 дней:
            </label>
            {{ form.date }}
            <button class="btn btn-dark" type="submit">
                Найти
            </button>
        </form>
    </div>


    <ul class="list-reset vacs_container">
        {% for vac in vacs %}
            <li class="vac_container">
                <!--Название-->
                <h3 class="vac_name">
                    {{ vac.name }}
                </h3>
                <!--Описание-->
                <p>
                    <a class="btn btn-dark" data-bs-toggle="collapse" href="#desc{{ forloop.counter }}"
                       role="button" aria-expanded="false" aria-controls="collapseExample">
                        Описание
                    </a>
                </p>
                <div class="collapse mb-2" id="desc{{ forloop.counter }}">
                    <div class="card card-body">
                        {{ vac.description }}
                    </div>
                </div>
                <!--Навыки-->
                {% if vac.skills_are_there %}
                    <p>
                        <a class="btn btn-dark" data-bs-toggle="collapse" href="#skills{{ forloop.counter }}"
                           role="button"
                           aria-expanded="false" aria-controls="collapseExample">
                            Навыки
                        </a>
                    </p>
                    <div class="collapse mb-1" id="skills{{ forloop.counter }}">
                        <ul class="list-reset skills_list">
                            {% for slill in vac.key_skills %}
                                <li class="skill">
                                    {{ slill }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <!--Компания-->
                <p class="company">
                    <b>Компания</b> : {{ vac.employer_name }}
                </p>
                <!--Оклад-->
                <p class="salary">
                    <b>Оклад</b> : {{ vac.salary }} {{ vac.salary_currency }}
                </p>
                <!--Регион-->
                <p class="area_name">
                    <b>Регион</b> : {{ vac.area_name }}
                </p>
                <!--Дата-->
                <p class="data">
                    <b>Дата публикации</b> : {{ vac.published_at|date:"d-m-Y" }}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}