{% extends 'AboutCSharpDeveloper/base.html' %}

{% block content %}

    <table class="table">
        <tbody>
        <tr>
            {% for title in statistics_by_year_titles %}
                <th class="table_cell text">
                    {{ title }}
                </th>
            {% endfor %}
        </tr>
        {% for values in statistics_by_year_values %}
            <tr>
                {% for value in values %}
                    <td class="table_cell text">
                        {{ value }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}